---
interface Props {
	company: string;
	companyShort?: string;
	position: string;
	startDate: Date;
	endDate?: Date;
	location: string;
	logo?: string;
}

const { company, companyShort, position, startDate, endDate, location, logo } = Astro.props;
---

<div class='flex w-full flex-col rounded-md bg-zinc-900 bg-opacity-25 shadow-2xl'>
	<div class='flex h-20 w-full justify-between border-b border-zinc-700'>
		<div class='flex items-center gap-4'>
			{
				logo && (
					<img
						class='pl-4'
						src={logo}
						alt={'pwc'}
						width='60'
						height='60'
					/>
				)
			}
			<h1 class='hidden text-lg font-bold text-white md:block'>{company}</h1>
			<h1 class='text-lg font-bold text-white sm:hidden'>{companyShort}</h1>
		</div>
		<div class='flex items-center'>
			<h2 class='text-md mr-4 font-light text-white'>{position}</h2>
		</div>
	</div>
	<div class='w-full flex-grow'>
		<div class='h-full w-full px-4 py-4'>
			<slot />
		</div>
	</div>
	<div class='flex h-12 w-full items-center bg-zinc-800 bg-opacity-25 text-sm'>
		<p class='pl-4'>{startDate.toLocaleDateString('de-DE')}</p>
		<p class='mx-2'>-</p>
		{endDate ? <p>{endDate.toLocaleDateString('de-DE')}</p> : <p>Present</p>}
		<p class='mx-2'>|</p>
		<p>{location}</p>
	</div>
</div>

<!-- <p>{startDate.toLocaleDateString('de-DE')}</p>
	{endDate ? <p>{endDate.toLocaleDateString('de-DE')}</p> : <p>Present</p>} -->
